{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <h2>Upload assignment</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>{{ form.teachername|as_crispy_field }}</div>
     <div>{{ form.teacheremail|as_crispy_field}}</div>
     <div>{{ form.teachersubject|as_crispy_field}}</div>
     <div>{{ form.duedate|as_crispy_field }}</div>
     <div>{{ form.assignments|as_crispy_field }}</div>

    <button type="submit" class="btn btn-primary">Upload assignment</button>
  </form>
{% endblock %}
